<h1><%= @bulk_discount.merchant.name %>: Bulk Discount ID#<%= @bulk_discount.id %> Show Page</h1>
<br>
<p><strong>Percentage Off: </strong><%= @bulk_discount.percentage_off %></p>
<p><strong>Quantity Threshold: </strong><%= @bulk_discount.threshold %></p>