<br>
<h3>Merchants Index</h3>

<% @merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", "merchants/#{merchant.id}/dashboard" %>
  <br>
<% end %>
<p><%= link_to "View all Discounts", bulk_discounts_path%></p>